<p> Name:   {{formValue?.name}}</p>
<p> Address: {{formValue?.address}}</p>

<!-- <div class="container">
<form>
<div class="form-group">
  <label for="Name">Name</label>
  <input type="Name" class="form-control" formControlName="name"  readonly value= {{formValue?.name}}>
</div>
<div class="form-group">
  <label for="address">address</label>
  <input type="address" class="form-control" formControlName="address"  readonly value={{formValue?.address}}>
</div>
</form>

</div> -->

<button type="button" (click)="download()">download</button>