<div class="container">
    <h2>component interaction </h2>
    <form [formGroup]="MyFrom" (ngSubmit)="onSubmit(MyFrom)">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="Name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="address">address</label>
            <input type="address" class="form-control" formControlName="address">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>



<div *ngFor="let item of object | keyvalue">
    {{item.key}}:{{item.value}}
  </div>


  <!-- <div [ngclass]="mark>mark1?:siva:ram"></div> -->